.marge {
	margin-top : 70px;
	margin-bottom: 60px;
}



body {
	background : url("background/rockywall/rockywall.png");
}

.container-fluid {
	background : url("background/rockywall/rockywall.png");
}

h1 {
	padding : 10px;
	padding-bottom:20px;
}

.descTheme {
	padding : 10px;
	font-size :1.5em;
}

.col-xs-3 {
	text-align: center;
}
#ligne1
{
	transition-duration: 2 ;
}

.themePicture
{
	box-shadow: 10px 5px 5px black;
	border-radius: 10px;
	height : 20vw;
	width:20vw;
}
.themePicture:hover {opacity: 0.7;}

#ligne1, #ligne2, #ligne3
{
	display : none;
	margin-top : 20px;
	margin-bottom: 10px;
	margin-left : 10px;
	margin-right: 10px;
	padding :5px;
	border:2px solid black;
	border-radius: 10px;
}

.row {
	text-align:center;
}

.btn{
	border : none !important; 
	background-color : transparent;
}
image {
	border : none !important;
}

.col-xs-3 {
	border : 1px solid blue;
}

/*Mise en forme de la fenetre modale https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal_img*/
.bigPicture {
   
    max-height : 80vh;
    /*max-width : 100%;*/
    /*max-height : 100%;*/
    max-width : 90vw;

    border: 5px solid white;
}

.modal {

    max-height: 100%; /* Full height */
  	max-width: 100%; /* Full height */
    background-color : rgba(0,0,0,0.7);
    border : 1px solid white;
}

.modal-dialog {

	/*border : 2px solid green;*/
	background-color : transparent;
	color : white;
	width : auto;
    height : auto;
/
    
}

.modal-header {
	background-color : #2d2d30;
}


/* Modal Content (image) */
.modal-content {
    margin: auto;
    /*display: block;
    width: 100%;*/
    /*max-width: 700px;*/
    background-color : rgba(0,0,0,0.82);
    width : auto;
    height : auto;
    text-align : center;

    /*background-color : #2d2d30;
    border : 1px solid red;*/
}

.modal-boby {
	/*border : 10px solid purple;
		width: 700px;
	background-color : blue;*/
}

